<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<form>
    <label for="fname">First Name: </label><br>
    <input id="fname" type="text" name="fname"></input><br><br>
    <label for="lname">Last Name: </label><br>
    <input id="lname" type="text" name="lname"></input><br><br>
    <label for="Uname">Username: </label><br>
    <input id="Uname" type="text" name="Uname"></input><br><br>
    <label for="Passwd">Password: </label><br>
    <input id="Passwd" type="password" name="Passwd"></input><br><br>

    <input type="submit" value="SignUp"></input><br><br>
    <label>Already have an account? </label><label><u>Login</u></label>
</form>
</body>
</html>