<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowProduct</title>
</head>
<body>

<form>
    <label>Product: </label>&nbsp; &nbsp;<label name="Pname"></label><br><br>
    <label>Price: </label>&nbsp; &nbsp;<label name="PriceNme"></label><br><br>
    <label>Extra Details: </label>&nbsp; &nbsp;<label name="ProductNme"></label><br><br>

    <a href="ProductList.html"><input type="submit" value="Confirm Details"></input></a>&nbsp; &nbsp;&nbsp; &nbsp;
    <input type="submit" value="Order Error">

</form>
</body>
</html>